# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs et temporaires
*.log
*.tmp
*.swp
*.swo

# Éventuels dossiers de cache (scripts ou tests locaux)
.cache/
*.egg-info/
dist/
build/

# Node / JS (standalone app)
static/src/reception_standalone_app/node_modules/
package-lock.json
*.lock
*.cache
.npm/
.pnpm/
.yarn/
styles/*.css   # si tu veux ignorer aussi le build (styles.css)
!styles/input.css  # mais garder le fichier source Tailwind
!tailwind.config.js
!postcss.config.mjs
!package.json


# Éditeurs de texte / IDE
.vscode/
.idea/
*.iml

# Mac / Windows / Linux
.DS_Store
Thumbs.db
